		<div class = "navbar-fixed">
			<ul class="title_bar">
				<li class="dropdownz">
					<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="tiny material-icons">menu</i></a>
				
				</li>
				
			</ul>
		</div>

		<br>
		<!--Tool Bar Ends Here-->
		<!--Page Layout Starts from here-->
		<!-- Page Layout here -->
		<div class="row">
			<div class="col s2">
				
				<ul id="slide-out" class="sidenav">
					<li><div class="user-view right-align">
						<div class="background">
							<img src="../../../res/img/himym.jpg">
						</div>
						<a href="/faculty"><img class="circle" src="<%= user.image %>"></a>
						<a href="/faculty"><span class="white-text name "><%= user.name %></span></a>
						<a href="/faculty"><span class="white-text email"><%= user.email %></span></a>
					</div></li>
					<div class = "left-align">
						<li><div class="divider"></div></li>
						
						<li><a class="waves-effect" href="/faculty/groups">My Groups</a></li>

						<% groups.forEach(function(group) { %>

							<li><a class="waves-effect" href="/faculty/groups/<%= group._id %>/home"><%= group.group_name %></a></li>
						<% }); %>

						<li><a class="waves-effect" href="/faculty/assignments">Assignments</a></li>
						<li><a class="waves-effect" href="/faculty/evaluations">Lab Evaluations</a></li>
						<li><a class="waves-effect" href="/faculty/notes">Upload Notes</a></li>
						<li><a class="waves-effect" href="/auth/logout">Logout</a></li>
					</div>
				</ul>
			
			</div>