<!-- Nav Bar starts -->
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="/student/groups">OPAS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      My Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Account</a>
                        <a class="dropdown-item" href="/auth/logout">Logout</a>
                    </div>
                </li>
                
            </ul>
        </div>
		</nav>
		<!-- Nav Bar ends -->
		<br>
		<!-- Side Nav User Info Starts -->
		<div class = "row">
			<div class = "col-sm-4">
				<br><br>
				<div class = "container">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title text-center"><%= user.name %></h4>
							<h6 class="card-title text-center"><%= user.email %></h6>
						
						</div>
					</div>

				</div>
				<br><br>
			 
				<!-- Side Nav Hyperlinks start -->

				<div class = "container">
					<div class="list-group">
							
						<a class="list-group-item disabled" href="/student/groups">My Groups</a>
						<a class="list-group-item disabled" href="/student/groups/view/<%= currentGroup._id %>">Announcements</a>
						<a class="list-group-item disabled" href="/student/groups/view/<%= currentGroup._id %>/assignments">Assignments</a>
						<a class="list-group-item disabled" href="/student/groups/view/<%= currentGroup._id %>/submissions">My Submissions</a>
						<a class="list-group-item disabled" href="/student/evaluations">Lab Evaluations</a>
						<a class="list-group-item disabled" href="/student/groups/view/<%= currentGroup._id %>/notes">Notes</a>
										
					</div>
				</div>
			</div>
		 