<% include ./partials/faculty_header %>
		
		<% include ./partials/faculty_nav %>
		
			<div class="col-sm-8">
				<br><br>				
				<div class="container">			
						<form action="/faculty/groups/view/<%= currentGroup._id %>/new" method="post">
							<div class="form-group">
									<label for="comment">Write an announcement here:</label>
									<textarea class="form-control" rows="3" id="textarea1" name="text"></textarea>
								  </div>
								<button class="btn btn-primary"  type="submit" name="post">Submit</button>
							
						</form>		
				</div>

				<% if (announcements) { %>

					
									<% announcements.forEach(function(announcement) { %>
										<br>
						<div class="container">
							
							<div class="media border p-3">
									
									<div class="media-body">
									  <h4><%= announcement.text %> </h4>
									 
									  <p><%= announcement.author.name %></p>
									  <div class="media p-3">
											
											<div class="media-body">
													<a href="/faculty/groups/view/<%= currentGroup._id %>/announcements/<%= announcement._id %>">View comments</a>
											</div>
										  </div> 
									</div>
								  </div>
						</div>
										
									<% }); %>
						
				<% } else { %>

					
							<div class="card">
								<div class="card-body ">

										No announcements to show
								</div>
							</div>
						
				<% } %>

			</div>
		
		
		</div>
		
	</body>
</html>