<% include ./partials/faculty_header %>
	
		<% include ./partials/faculty_nav %>
			
			<div class="col-sm-8">
					<br><br><br>
				<div class = "row">
						
					<% if (assignments.length != 0) { %>

						<h3 class = "header"><font color = "teal">Ongoing Assignments</font></h3>

						<% assignments.forEach(function(assignment) { %>
							<div class="col s12 m6">
								<div class="card teal lighten-1">
									<div class="card-content white-text">

										<% if (assignment.subject) { %>

											<span class="card-title"><%= assignment.subject.subject_id %></span>
										<% } %>	
										<p>
											<b><%= assignment.title %></b><br>
											Start date : 5/05/2018<br>
											Deadline : 10/05/2018
										</p>
									</div>
									<div class="card-action white">
										<a href="/faculty/groups/view/<%= currentGroup._id %>/assignments/view/<%= assignment._id %>"><font color = "grey">View Assignment</font></a>
										
									</div>
								</div>
						    </div>

					    <% }); %>

					<% } else { %>

						<div class="container">
								<h3><font color = "teal">Currently no assignments</font></h3>
						</div>
					<% } %>
			    </div>
		
			
			<br>
			<div class="container">
				<form action="/faculty/groups/view/<%= currentGroup._id %>/assignments/create">
					<button type="submit" class="btn btn-primary">Create new assignment</button>
				</form
			</div>
				<!-- Grey navigation panel -->
			
			</div>
		</div>
	</body>
</html>