<% include ./partials/faculty_header %>
	<body>
		<% include ./partials/faculty_nav %>
		<div class = "col-sm-8">
			<br>
			<div class="container">
			  	<h2><%= assignment.title %></h2><br>
			  
			  	<div class = "row d-flex justify-content-center">
				  	<form action="___________" method = "post">
		                <div class = "form-group">
		                    <input type="submit" value="Check Plagiarism Question 1" class="btn btn-dark">
		                </div>
	            	</form>
            	 
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  	<form action="___________" method = "post">
		                <div class = "form-group">
		                    <input type="submit" value="Check Plagiarism Question 2" class="btn btn-dark">
		                </div>
	            	</form>
            	
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  	<form action="___________" method = "post">
		                <div class = "form-group">
		                    <input type="submit" value="Check Plagiarism Question 2" class="btn btn-dark float-center">
		                </div>
	            	</form>
            	</div>
			  	<table class="table">
			    	<thead>
			      	<tr>
			        	<th>Student Name</th>
			        	<th>Question Title</th>
			        	<th>Output</th>
			        	<th>Download Code File</th>
			      	</tr>
			    	</thead>
			    <tbody>
			    	<% submissions.forEach(function(submission) { %>
			      <tr>
			        <td><%= submission.author.name %></td>
			        <td><%= submission.question.title %></td>
			        <td><%= submission.output %></td>
			        <td><a href="/faculty/groups/view/<%= currentGroup._id %>/assignments/view/<%= assignment._id %>/submission/view/<%= submission.filename %>" class="btn btn-dark float-center"> Download </a></td>
			      </tr>
			      <% }); %>
			    </tbody>
			  </table>
			</div>
			<script src = "../js/menubar.js"></script>
		</div>
	</body>
</html>