<% include ./partials/faculty_header %>
	<body>
		<% include ./partials/faculty_nav %>
		<div class = "col-sm-8">
			<br>
			<div class="container">
			  	<h2><%= assignment.title %></h2><br>
				
					<% if (questions) { %>
					
						<% questions.forEach(function(question) { %>
							<div class = "row d-flex justify-content-center">
								<form action="/faculty/groups/view/<%= currentGroup._id %>/assignments/view/<%= assignment._id %>/questions/view/<%=question._id%>/plagiarism" method = "POST">
												<div class = "form-group">
														<input type="submit" value="Check Plagiarism: <%= question.title %>" class="btn btn-dark">
												</div>
										</form>
									 
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								
									</div>

						<% }); %>
					<% } %>
			  	
			  	<table class="table">
			    	<thead>
			      	<tr>
			        	<th>Student Name</th>
			        	<th>Question Title</th>
			        	<th>Output</th>
			        	<th>Download Code File</th>
			      	</tr>
			    	</thead>
			    <tbody>
			    	<% submissions.forEach(function(submission) { %>
			      <tr>
			        <td><%= submission.author.name %></td>
			        <td><%= submission.question.title %></td>
			        <td><%= submission.output %></td>
			        <td><a href="/faculty/groups/view/<%= currentGroup._id %>/assignments/view/<%= assignment._id %>/submission/view/<%= submission._id%>/download/<%= submission.filename %>" class="btn btn-dark float-center"> Download </a></td>
			      </tr>
			      <% }); %>
			    </tbody>
			  </table>
			</div>
			
		</div>
	</body>
</html>