<% include ./partials/faculty_header %>
	<body>
        <% include ./partials/faculty_nav %>
        <div class="col-sm-8">
            <br>
            
                <h2><%= assignment.title %></h2>
            
            <div class="card-columns">
                <%if(foundQuestion){%>
                    <% foundQuestion.forEach(function(ques){ %>
                    <div class = "card">
                        <br>
                        <div class="card-body">
                            <h4><%= ques.title %></h4>
                            <p><%= ques.body %></p>
                            <h6><p>Inputs</p></h6>
                            <p><%= ques.input %></p>
                        </div>
                    </div>
                <%})};%>
            </div>
            
            <br>
            <a href = "/faculty/groups/view/<%= currentGroup._id %>/assignments/view/<%= assignment._id %>/submission/view" class=" btn btn-dark btn-block">View Submissions</a><br><br>
            <!-- <form action="*" method = "post">
                <div class = "form-group">
                    <input type="submit" value="Edit Assignment" class="btn btn-dark btn-block">
                </div>
            </form> -->
            
            <form action="/faculty/groups/view/<%=currentGroup._id%>/assignments/view/<%=assignment._id%>?_method=DELETE" method = "post">
                <div class = "form-group">
                    <input type="submit" value="Delete Assignment" class="btn btn-danger btn-block">
                </div>
            </form>

        </div>
    </body>
</html>