<% include ./partials/student_header %>
		
		<% include ./partials/student_nav %>

		<!-- <%= assignment %> -->
		<div class="card">
			<div class="card-action teal lighten-1">
				 <a href="/student/assignment/<%= assignment._id %>/view/ques"><font color = "white">Question :1<%= assignment.ques1.title %></font></a>
			</div>
		</div>

		<div class="card">
			<div class="card-action teal lighten-1">
			 	<a href="/student/assignment/<%= assignment._id %>/view/ques"><font color = "white">Question :2<%= assignment.ques2.title %></font></a>
			</div>
		</div>

	</body>