<% include ./partials/student_header %>
		
		<% include ./partials/student_nav %>

		<!-- <%= assignment %> -->

		<div class="col-sm-8">
		<% questions.forEach(function(question) { %>

			<br><br><br>
			<h4>
				<a href="/student/groups/view/<%= currentGroup._id %>/assignments/view/<%= assignment._id %>/view/<%= question._id %>"><font color = "black">Question : <%= question.title %></font></a>
			</h4>
			Language Allowed : 
			<% languages.forEach(function(language) { %>
			
				<%= language %> 

			<% }) %>


	<% }) %>
	</div>

	</body>