<% include ./partials/student_header %>
		
		<% include ./partials/student_nav %>

		<!-- <%= assignment %> -->

		<div class="col-sm-9">
			<br>
			<h2><%= assignment.title %></h2><br>
			
			<div class="card-columns">
				<% questions.forEach(function(question) { %>
					<div class = "card">
						<div class = "card-body">
							<h4>
								<a href="/student/groups/view/<%= currentGroup._id %>/assignments/view/<%= assignment._id %>/question/view/<%= question._id %>"><font color = "black">Question : <%= question.title %></font></a>
							</h4>
							Language Allowed : C++
							
						</div>
					</div>
				<% }) %>
			</div>
		</div>

	</body>