<% include ./partials/student_header %>
		
	<body>
	
		<% include ./partials/student_nav %>
		
			<div class = "col-sm-8">
				<div class = "row">
					<div class = "col-sm-12">
						<div class="card">
							
							<div class="card-header bg-dark">
								<div class="row">
									<div class="col-sm-2">
										<img src="<%=announcement.author.image%>" height = "105px" width="105px" class="circle">
										</div>			
									<div class="col-sm-9"><font color="white">
										<h5><%= announcement.author.name %></h5>
										<p><%= announcement.text %></p>
									</font></div>
								</div>
							</div>

								<div class="card-body">		
									<% announcement.comments.forEach(function(comment) { %>
									<div class="card-body">
										<h6><%= comment.author.name %></h6>
										<p><%= comment.text %></p>
									</div>
									<% }); %>
								</div>	
								<div class="card-header">
									<div class="col-sm-12">

									  	<form class="form-inline" action="/student/groups/view/<%= currentGroup._id %>/announcement/view/<%= announcement.id %>/new" method="post">
									  		

											<div class="col-sm-10">
										    	<input id="textarea1" type="text" class="form-control-plaintext bg-white" placeholder="  Add a Comment" name="comment">
										        <!-- <textarea id="textarea1" class="materialize-textarea" name="comment" placeholder="Add A Comment"></textarea> -->
										    </div>
											<div class = "col-sm-2">
										        <input class="waves-effect waves-light btn" type="submit" name="post">
										    </div>
										    	
											</div>
										</form>
									</div>
								</div>
							
						</div>

					</div>
				</div>
			</div>
		<br><br>
	</body>
</html>